<%- include('./partials/header.ejs')%>
    <div class = "content">
        <h3>Welcome to Danny's Comic Convention.</h3> 
        <p>Here you will be able to find all events taking place during the convention.</p>
    </div>
<%- include('./partials/footer.ejs')%>