<%- include('../partials/header.ejs')%>
    <div class = "content">
        <h3>About Danny's Comic Convention.</h3> 
        <p>As an avid comic book lover, I have put together the best line-up of today's cinimatic universes</p>
    </div>
<%- include('../partials/footer.ejs')%>