<%- include('../partials/header.ejs')%>
    <div class = "content">
        <h3>Contact Info</h3> 
        <p>Corporate Email: dannyComicConvention@comics.com</p>
        <p>For inquiries: dmakogon@uncc.edu</p>
    </div>
<%- include('../partials/footer.ejs')%>